<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
            <tr id="header"></tr>
            </thead>
            <tbody id="body">
<!--            <tr>-->
<!--                <th scope="row">2</th>-->
<!--                <td>Jacob</td>-->
<!--                <td>Thornton</td>-->
<!--                <td>@fat</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th scope="row">3</th>-->
<!--                <td colspan="2">Larry the Bird</td>-->
<!--                <td>@twitter</td>-->
<!--            </tr>-->
            </tbody>
        </table>

        <a class="btn btn-primary" type="button" href="/">На главную</a>
    </div>

    <script type="text/javascript" src="/static/js/database.js"></script>
</body>
</html>